<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <h1>Balance</h1>
      <p class="mb-5">List of all existing balance.</p>
      <div class="row mt-5">
        <div class="col-md-4">
          <h3>Users</h3>
          <p>Find all balance by user name.</p>
          <ul class="list-group">
          <% @users.each do |row| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= row.name %>
              <span class="badge badge-primary badge-pill">$ <%= row.balance %></span>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Teams</h3>
          <p>Find all balance by team name.</p>
          <ul class="list-group">
          <% @teams.each do |row| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= row.name %>
              <span class="badge badge-primary badge-pill">$ <%= row.balance %></span>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Stocks</h3>
          <p>Find all balance by stock ID.</p>
          <ul class="list-group">
          <% @stocks.each do |row| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= row.name %>
              <span class="badge badge-primary badge-pill">$ <%= row.balance %></span>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

