<div class="jumbotron">
  <div class="container">
    <h1>Want to Start Transfer Money?</h1>
    <p>Our system will help you transfers cash to any bank accounts all over the world.<br>With no hassle and any cost.</p>
    <br>
    <p>
      <%= button_to 'Transfer Now', transfer_index_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Title #1</h3>
      <p>Paragraph</p>
    </div>
    <div class="col-lg-6">
      <h3>Title #2</h3>
      <p>Paragraph Paragraph</p>
    </div>
  </div>
</div>
