@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

.navbar {
  margin-bottom: 0;
  background: black;
}
body {
  background: white;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: gray;
}
a:visited {
  color: $black;
}
.jumbotron {
  background: rgb(75, 108, 168);
  color: white;
  text-align: center;
  p {
    color: white;
    font-size: 26px;
  }
}
.link {
  color: white;
}
.btn-primary {
  color: white;
  border-color: white;
  margin-bottom: 5px;
}
.btn-sm {
  background-color: white;
  display: inline-block;
}
caption {
  float: left;
  clear: both;
}
.content {
  margin-top: 70px;
}