<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <h1>Money Transfer</h1>
      <p class="mb-5">Transfer from an account to another account.</p>
      <form id="transfer_form">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Sender Type</label>
              <%= select_tag "sender_type", raw("<option selected>User</option><option>Team</option><option>Stock</option>"), class: 'form-control' %>
            </div>
            <div class="form-group">
              <label>Sender Name</label>
              <%= select_tag "sender_name", options_from_collection_for_select(@users, "id", "name"), class: 'form-control' %>
            </div>
            <div class="form-group">
              <label>Balance (USD)</label>
              <input type="text" id="sender_balance" name="sender_balance" disabled class="form-control-plaintext" value="0">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Amount</label>
              <input id="amount" name="amount" type="number" class="form-control">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-lg btn-block" id="submit">SEND</button>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Beneficiary Type</label>
              <%= select_tag "beneficiary_type", raw("<option>User</option><option selected>Team</option><option>Stock</option>"), class: 'form-control' %>
            </div>
            <div class="form-group">
              <label>Beneficiary Name</label>
              <%= select_tag "beneficiary_name", options_from_collection_for_select(@teams, "id", "name"), class: 'form-control' %>
            </div>
            <div class="form-group">
              <label>Balance (USD)</label>
              <input type="text" id="beneficiary_balance" name="beneficiary_balance" disabled class="form-control-plaintext" value="0">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // when Sender Type selected
  $('#sender_type').on('change', function(){
    const type = $(this).val();
    $.ajax({
      url: "/transfer/sender_type",
      method: "GET",  
      dataType: "json",
      data: {type: type},
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        const users = response;
        $("#sender_name").empty();
        for(let i=0; i< users.length; i++){
          $("#sender_name").append('<option value="' + users[i]["id"] + '">' + users[i]["name"] + '</option>');
        }
        $("#sender_balance").val(users[0]["balance"]);
      }
    });
  });

  // when Sender Name selected
  $('#sender_name').on('change', function(){
    const id = $(this).val();
    $.ajax({
      url: "/transfer/sender_name",
      method: "GET",  
      dataType: "json",
      data: {id: id},
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        $("#sender_balance").val(response[0]['balance']);
      }
    });
  });

  // when Beneficiary Type selected
  $('#beneficiary_type').on('change', function(){
    const type = $(this).val();
    $.ajax({
      url: "/transfer/beneficiary_type",
      method: "GET",  
      dataType: "json",
      data: {type: type},
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        const users = response;
        $("#beneficiary_name").empty();
        for(let i=0; i< users.length; i++){
          $("#beneficiary_name").append('<option value="' + users[i]["id"] + '">' + users[i]["name"] + '</option>');
        }
        $("#beneficiary_balance").val(users[0]["balance"]);
      }
    });
  });

  // when Beneficiary Name selected
  $('#beneficiary_name').on('change', function(){
    const id = $(this).val();
    $.ajax({
      url: "/transfer/beneficiary_name",
      method: "GET",  
      dataType: "json",
      data: {id: id},
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        $("#beneficiary_balance").val(response[0]['balance']);
      }
    });
  });

  // submit the form
  $('#submit').on('click', function(){
      const sender = $("#sender_name").val();
      const beneficiary = $("#beneficiary_name").val();
      const amount = $("#amount").val();
      $.ajax({
        type: "POST",
        url: "/transfer/submit",
        data: { sender: sender, beneficiary: beneficiary, amount: amount },
        dataType: "json",
        success: function(response) {
          if (response['status'] === 1) {
            $("#sender_balance").val(response['sender']);
            $("#beneficiary_balance").val(response['beneficiary']);
          } else {
            alert(response['message']);
          }
          
        },
        error: function() {
          alert('error handling here');
        }
      });
  });

</script>

